%h1 Clubs

- if @clubs.length > 0

  %p There are currently #{@clubs.size} clubs registered.

  %input{:id => "searchInput", :onkeyup => "searchFunc()", :placeholder => "Enter club name..."}
  
  %p
  
  <!--Table to display the current clubs -->
  %table{:id => "clubTable"}
    %thead
      %tr
        %th Name
        %th Postcode
        %th Contact Number
        %th
        %th
        %th

    %tbody#clubs-table
    = render 'clubs_table'

  :javascript
    function searchFunc() {
      input = document.getElementById("searchInput").value.toUpperCase();
      table = document.getElementById("clubTable");
      row = table.getElementsByTagName("tr");
      for (i = 0; i < row.length; i++) {
        clubName = row[i].getElementsByTagName("td")[0];
        if (clubName) {
          text = clubName.textContent || clubName.innerText;
          if (text.toUpperCase().indexOf(input) > -1) {
            row[i].style.display = "";
          } else {
            row[i].style.display = "none";
          }
        }
      }
    }

- else
  .error-message
    %h5 No clubs exist

%br

= link_to 'New Club', new_club_path, class: 'ajax-modal btn btn-secondary'
