%h1 Listing clubs

%table
  %thead
    %tr
      %th Name
      %th Postcode
      %th Contactnumber
      %th
      %th
      %th

  %tbody#clubs-table
  = render 'clubs_table'

%br

= link_to 'New Club', new_club_path, class: 'ajax-modal'
