%h1 Donors and Volunteers


.btn-group.btn-group-toggle{"data-toggle" => "buttons"}
  %label.btn.btn-primary.active
    %input{:type => "radio", :name => "options", :id => "option1", :autocomplete => "off", :checked => true}  Volunteers
  %label.btn.btn-primary
    %input{:type => "radio", :name => "options", :id => "option2", :autocomplete => "off"} Donors
  %label.btn.btn-primary
    %input{:type => "radio", :name => "options", :id => "option3", :autocomplete => "off"} Prostective Donors

%br
%br


= render 'volunteers_table'




