%h1 Volunteers

%p There are #{@volunteers.size} volunteers to search through.

%p= link_to "Add Volunteer", new_volunteer_path, class: 'ajax-modal btn btn-secondary'

- if @volunteers.length > 0

  %table
    %thead
      %tr
        %th Name
        %th Contact Number
        %th Young Person?
        %th Email
        %th Hours
        %th Target
        %th
        %th

    %tbody#volunteerTable
      = render 'volunteers_table'



- else
  .error-message
    %h5 No volunteers available





