$('#modalWindow').modal('hide');
$("#individualBody").html($('#{j render 'individuals_table'}'));
$("#trustBody").html($('#{j render 'trusts_table'}'));
$("#commercialBody").html($('#{j render 'commercials_table'}'));