$('#modalWindow').modal('hide');
$("#individualBody").html($('#{j render 'donors/individuals_table'}'));
$("#trustsBody").html($('#{j render 'donors/trusts_table'}'));
$("#commercialBody").html($('#{j render 'donors/commercials_table'}'));