- @meeting_types.each do |meeting_type|
    %tr
        %td= meeting_type.day
        %td= meeting_type.time
        %td= meeting_type.sessiontype
        %td= link_to 'Delete', meeting_type, method: :delete, data: { confirm: 'Are you sure?' }