%h1 What types of meetings happen each week?

%p= link_to "Add Meeting", new_meeting_type_path, class: 'ajax-modal btn btn-secondary'

%table
  %thead
    %tr
      %th Day
      %th Time
      %th Session Type
      %th 

  %tbody#meetingTable
    = render 'meeting_table'

%br

