%h1 What types of meetings happen each week?

%p= link_to "Add Meeting", new_meeting_type_path, class: 'ajax-modal btn btn-secondary'

%table
  %thead
    %tr
      %th Day
      %th Time
      %th Session Type
      %th 

  %tbody#meetingTable
    = render 'meeting_types/meeting_table'

%br

/Button to Finish and link back to the club view page
%p= link_to "Finish", club_path(id: current_user[:club_id]), class: "btn btn-secondary", data: { confirm: 'Are you sure?' }

