%h1 Event Calendar

%table
  %thead
    %tr
      %th @events
      %th
      %th

  %tbody
    = month_calendar(events: @events) do |date, events|
      = date.day
      - events.each do |event|
        = link_to event.name, event_id_page_path(event_individual: event.id)
%br

