%h1 Listing events

- if @events.length > 0

  %p There are #{@events.size} events to search through.

  %input{:id => "eventInput", :onkeyup => "searchFunc('eventInput', 'eventTable')", :placeholder => "Enter event name..."}
  %p

  %br
  %table{:id => "eventTable"}
    %thead
      %tr
        %th Name
        %th Comment
        %th Start Time
        %th End Time
        %th Club Name
        %th Spaces Left
        %th Link to CLUB with ID

    %tbody#event-table-body
      = render 'events_table'


- else
  .error-message
    %h5 No events exist

%br

= link_to 'New Event', new_event_path, class: 'ajax-modal btn btn-secondary', id: 'new-event'

:javascript
  function searchFunc(searchId, searchTable) {
    input = document.getElementById(searchId).value.toUpperCase();
    table = document.getElementById(searchTable);
    row = table.getElementsByTagName("tr");
    for (i = 0; i < row.length; i++) {
      clubName = row[i].getElementsByTagName("td")[0];
      if (clubName) {
        text = clubName.textContent || clubName.innerText;
        if (text.toUpperCase().indexOf(input) > -1) {
          row[i].style.display = "";
        } else {
          row[i].style.display = "none";
        }
      }
    }
  }