- content_for :title, "Home"

.jumbotron.mb-3
  %h1.display-5 BGCSY
  %p.lead WELCOME TO BGCSY
  
  
  %p 
    Boys and Girls Clubs South Yorkshire is proud of its long history of working with young people in Sheffield and its surrounding areas. 
    Since its inception in 1942 our work has changed in many ways from the traditional sports of football, snooker / pool etc to an annual ski residential and paintball and Laserzone competitions. 
    (All activities are open to boys and girls).

  .ui.medium.image
    %center
      %img.center{:height => "300", :src => "#{asset_path('BGCSY.png')}"}/

  %p
    Many of our 35 affilaited clubs are situated in disadvantaged or inner city areas and provide a chance to meet new friends in a supportive environment and take part in events and activities with no financial barriers (many of our activities are heavily subsidised). 
    We provide opportunities in training and activities which gives young people confidence building skills.


