%h1 Donations

- if @donations.length > 0
  %table
    %thead
      %tr
        %th Date
        %th Donor
        %th Amount
        %th Recurring
        %th Restricted

    %tbody#donations-table
      = render "donations_table"

- else
  .error-message
    %h5 No donations available

%br


= link_to 'New Donation', new_donation_path, class: "btn btn-secondary ajax-modal"
