%h1 Enter Affiliation Data

= render 'form'

= render 'meeting_types/form'



%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Involved?

  %tbody#volunteer-table
    = render 'volunteers/select_table'

