%h1 Case Studies

- if @case_studies.length > 0

  %p There are #{@case_studies.size} case studies to search through.

  %table
    %thead
      %tr
        %th Date
        %th Participant
        %th Club
        %th Comment 
        %th
        %th

    %tbody#case-study-table
      = render 'casestudy_table'

- else
  .error-message
    %h5 No case studies exist

%br
%p= link_to "Add Case Study", new_case_study_path, class: 'ajax-modal btn btn-secondary'
