h1 {
  padding:1rem;
  padding-left: 0;
}

.calendar-title {
  font-size: large;
  text-align: center;
  padding: 1rem;
}

.calendar-heading {
  padding-bottom: 1rem;
}

.day {
  font-size: medium;
}

.today {
  background-color: rgb(200, 255, 255);
}

.past {}

.future {}

.start-date {}

.prev-month {
  /* background-color: rgb(200, 200, 200); */
  color: rgb(128, 128, 128);
  font-size: small;
}

.next-month { 
  /* background-color: rgb(200, 200, 200); */
  color: rgb(128, 128, 128);
  font-size: small;
}
  
.current-month {}

.has-events {}

.table td {
  padding-top: 3rem;
  text-align: top;
}