%h1 Editing Consent Form

= render 'form'

= link_to 'Show', [@event, @consent_form], class: 'btn btn-secondary'

%br
%br

= link_to 'Back', event_consent_forms_path(@event), class: 'btn btn-secondary'
